# create csv for website

In [1]:
import pandas as pd

In [2]:
def log_df(df, limit=5):
    print(df.shape)
    return df.head(limit)

# integer columns that have null
int_dtype = {'playlist_position': 'Int64',
             'price': 'Int64',
             'serial_number':'Int64' }

In [3]:
playlist1_path = '../raw_data/oli_playlist.csv'
playlist2_path = '../raw_data/oli_playlist_2.csv'
missing_path = '../processed_data/missing_videos_fixed.csv'

my_oli_path = '../raw_data/Oli.csv'

## videos

In [4]:
playlist1_df = pd.read_csv(playlist1_path)
log_df(playlist1_df)

(369, 6)

,position,video_title,published_at,video_id,video_thumbnail,playlist_id
0,1,'Oli L1 MGBG Mango Baritone,2024-01-30T08:53:06Z,uBJy6pgpNIU,https://i.ytimg.com/vi/uBJy6pgpNIU/default.jpg,PLEQbDXy0ShuWQ4iKD4YVC1iOj3uKY1R-2
1,2,O.C. Bear Custom Lahaina Guitar & ‘Oli Cedar E...,2024-02-01T06:44:56Z,aFgun3_F1fQ,https://i.ytimg.com/vi/aFgun3_F1fQ/default.jpg,PLEQbDXy0ShuWQ4iKD4YVC1iOj3uKY1R-2
2,3,'Oli L2 TCE Cedar Macassar Ebony Tenor,2024-02-01T06:46:48Z,mSw_GV9LxOM,https://i.ytimg.com/vi/mSw_GV9LxOM/default.jpg,PLEQbDXy0ShuWQ4iKD4YVC1iOj3uKY1R-2
3,4,'Oli Cedar Macassar L2 Baritone,2024-02-28T22:39:41Z,uDCKmlLujrs,https://i.ytimg.com/vi/uDCKmlLujrs/default.jpg,PLEQbDXy0ShuWQ4iKD4YVC1iOj3uKY1R-2
4,5,'Oli Spruce Rosewood L2 Baritone,2024-02-28T22:44:55Z,TkO2YRW2vQE,https://i.ytimg.com/vi/TkO2YRW2vQE/default.jpg,PLEQbDXy0ShuWQ4iKD4YVC1iOj3uKY1R-2

In [5]:
playlist2_df = pd.read_csv(playlist2_path)
log_df(playlist2_df)

(7, 6)

,position,video_title,published_at,video_id,video_thumbnail,playlist_id
0,1,'Oli Mango Tenor Prototype,2023-08-21T22:57:21Z,1__pjKICYcA,https://i.ytimg.com/vi/1__pjKICYcA/default.jpg,PLEQbDXy0ShuW7JotVhROvR4TxhmO_0tLD
1,2,"""Hawai'i '78"" 'Oli Mango Tenor & Pono Master S...",2023-08-21T23:00:36Z,mgGgRXIZY4Q,https://i.ytimg.com/vi/mgGgRXIZY4Q/default.jpg,PLEQbDXy0ShuW7JotVhROvR4TxhmO_0tLD
2,3,'Oli Mango Concert L2 MGC,2023-11-16T18:57:56Z,Oj_48kO9R8w,https://i.ytimg.com/vi/Oj_48kO9R8w/default.jpg,PLEQbDXy0ShuW7JotVhROvR4TxhmO_0tLD
3,4,'Oli Mango Baritone L2 MGB,2023-11-16T19:12:58Z,K1WS2LC0U2s,https://i.ytimg.com/vi/K1WS2LC0U2s/default.jpg,PLEQbDXy0ShuW7JotVhROvR4TxhmO_0tLD
4,5,Danny's Song on 'Oli Mango Baritone & Tenor,2023-11-16T19:28:57Z,sMBVxO3s9KU,https://i.ytimg.com/vi/sMBVxO3s9KU/default.jpg,PLEQbDXy0ShuW7JotVhROvR4TxhmO_0tLD

In [6]:
missing_df = pd.read_csv(missing_path)
log_df(missing_df)

(14, 6)

,position,video_title,published_at,video_id,video_thumbnail,playlist_id
0,-9999,'Oli Mastergrade Koa Tenor 145,2024-04-04T20:53:23Z,BHOxKauk_zE,https://i.ytimg.com/vi/BHOxKauk_zE/default.jpg,NaN
1,-9999,'Oli L2 TSA Spruce Acacia Tenor,2024-08-06T23:05:27Z,Yk98tlUrQwM,https://i.ytimg.com/vi/Yk98tlUrQwM/default.jpg,NaN
2,-9999,'Oli L2-TCA v3 Cedar Acacia Tenor,2024-10-12T22:14:02Z,LvcZOHceJ-I,https://i.ytimg.com/vi/LvcZOHceJ-I/default.jpg,NaN
3,-9999,'Oli L1 TMGS 2025 Mango Tenor Satin,2025-01-29T22:37:14Z,dKotBrEFZgA,https://i.ytimg.com/vi/dKotBrEFZgA/default.jpg,NaN
4,-9999,'Oli L2-BCR 858,2025-02-08T18:43:34Z,rVt1EjNZg_k,https://i.ytimg.com/vi/rVt1EjNZg_k/default.jpg,NaN

In [7]:
combine_df = pd.concat([playlist1_df, playlist2_df, missing_df])
combine_df.shape

(390, 6)

In [8]:
combine_df['published_at_2'] = pd.to_datetime(combine_df['published_at'])

combine_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 390 entries, 0 to 13
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   position         390 non-null    int64
 1   video_title      390 non-null    object
 2   published_at     390 non-null    object
 3   video_id         390 non-null    object
 4   video_thumbnail  390 non-null    object
 5   playlist_id      376 non-null    object
 6   published_at_2   390 non-null    datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](1), int64(1), object(5)
memory usage: 24.4+ KB

In [9]:
len(combine_df['video_id'].unique())

390

In [10]:
combine_df.to_csv('../processed_data/videos_list.csv', index=False)

## models

In [11]:
cols = ['model', 'tier', 'type', 'size', 'top_wood', 'back_wood', 'finish',
        'limited_edition', 'video_published_at',
        'video_id', 'video_type', 'video_provider', 'oli_id' ]

my_oli_df = pd.read_csv(my_oli_path, usecols=cols, dtype=int_dtype)
log_df(my_oli_df)

(448, 13)

,model,tier,type,size,top_wood,back_wood,finish,limited_edition,video_id,video_published_at,video_type,video_provider,oli_id
0,L2-TMG,L2,TMG,Tenor,Mango,Mango,gloss,NaN,1__pjKICYcA,2023-08-21T22:57:21Z,other,youtube,f8e2f0955694a60036f37491c15bcca4
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,mgGgRXIZY4Q,2023-08-21T23:00:36Z,song,youtube,NaN
2,L2-CMG,L2,CMG,Concert,Mango,Mango,gloss,NaN,Oj_48kO9R8w,2023-11-16T18:57:56Z,sound_sample,youtube,b896dea775786969dd6a0305484d3e8b
3,L2-BMG,L2,BMG,Baritone,Mango,Mango,gloss,NaN,K1WS2LC0U2s,2023-11-16T19:12:58Z,sound_sample,youtube,6c3bbc40618711d4c968ccc0b716d915
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,sMBVxO3s9KU,2023-11-16T19:28:57Z,song,youtube,NaN

change to date object, and sort by date

In [12]:
my_oli_df['video_published_at'] = pd.to_datetime(my_oli_df['video_published_at'])
my_oli_df = my_oli_df.sort_values(by=['video_published_at'], ascending=True)

log_df(my_oli_df)

(448, 13)

,model,tier,type,size,top_wood,back_wood,finish,limited_edition,video_id,video_published_at,video_type,video_provider,oli_id
0,L2-TMG,L2,TMG,Tenor,Mango,Mango,gloss,NaN,1__pjKICYcA,2023-08-21 22:57:21+00:00,other,youtube,f8e2f0955694a60036f37491c15bcca4
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,mgGgRXIZY4Q,2023-08-21 23:00:36+00:00,song,youtube,NaN
2,L2-CMG,L2,CMG,Concert,Mango,Mango,gloss,NaN,Oj_48kO9R8w,2023-11-16 18:57:56+00:00,sound_sample,youtube,b896dea775786969dd6a0305484d3e8b
3,L2-BMG,L2,BMG,Baritone,Mango,Mango,gloss,NaN,K1WS2LC0U2s,2023-11-16 19:12:58+00:00,sound_sample,youtube,6c3bbc40618711d4c968ccc0b716d915
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,sMBVxO3s9KU,2023-11-16 19:28:57+00:00,song,youtube,NaN

In [13]:
my_oli_df['video_type'].unique()

array(['other', 'song', 'sound_sample', 'equipment', nan, 'hidden',
       'factory_tour'], dtype=object)

In [14]:
models_df = my_oli_df[my_oli_df['video_type'] == 'sound_sample']
models_df = models_df.drop('video_type', axis=1)

models_df = models_df.dropna(subset=['model'])
models_df = models_df.drop_duplicates(subset=['oli_id'], keep='last')

log_df(models_df)

# 175, 10

(175, 12)

,model,tier,type,size,top_wood,back_wood,finish,limited_edition,video_id,video_published_at,video_provider,oli_id
33,L2-TSQM,L2,TSQM,Tenor,Spruce,Quilted Maple,gloss,NaN,ygsknEQj5NI,2024-03-07 18:10:48+00:00,youtube,f8d9e63b0e42027dbf61c760d9df9e02
36,L2-TQM,L2,TQM,Tenor,Quilted Maple,Quilted Maple,gloss,NaN,HNenXmQh9Wg,2024-03-08 20:24:49+00:00,youtube,1eb4f51132efa88ab133dd45e7b2f838
40,L2-TFM,L2,TFM,Tenor,Flame Maple,Flame Maple,gloss,NaN,wdNBvGFFY9w,2024-03-11 19:19:07+00:00,youtube,bae3debb9cf0f837dbf7c266a1ddfc1d
69,L2-CSE,L2,CSE,Concert,Spruce,Macassar Ebony,gloss,NaN,-RtOCwJexIU,2024-05-27 07:07:08+00:00,youtube,6605026230f583e66738ed318a486c3c
440,L3-CTSML,L3,CTSML,Concert,Torrefied spruce,Milo,gloss,True,1090692172,2024-06-05 01:00:00+00:00,vimeo,fb086c5a7cae318e3031d62c7f0cc0ca

both curly and normal redwood have same model name

In [15]:
models_df[models_df.duplicated(subset=['model'])]

,model,tier,type,size,top_wood,back_wood,finish,limited_edition,video_id,video_published_at,video_provider,oli_id
245,L3-CRML,L3,CRML,Concert,Redwood,Milo,gloss,True,j9jPvXrlJAc,2025-02-08 20:49:18+00:00,youtube,70bf01d5f49cd9a921ded1505488017e
308,L3-CSE-H,L3,CSE-H,Concert,Spruce,Ebony,gloss,True,7PABqyB1Ef8,2025-05-18 03:41:21+00:00,youtube,db5b2d304c8dfb2686e42956b1ea109d
331,L2-CRR,L2,CRR,Concert,Curly Redwood,Rosewood,gloss,True,7fNk5YvFyy0,2025-06-22 02:18:31+00:00,youtube,8b90515cee6190837dc3166df65ebad4
361,L3-TRML,L3,TRML,Tenor,Curly Redwood,Milo,gloss,True,95lhu10_THM,2025-07-25 00:39:12+00:00,youtube,7092f00e29aed5716fa9a60691ce3b95
366,L2-TMR,L2,TMR,Tenor,Curly Myrtle,Curly Myrtle,gloss,NaN,037scxWrmu4,2025-08-03 23:38:29+00:00,youtube,736db2f2588da8e9dbe7cb980c7d1c1c
367,L2-TMR,L2,TMR,Tenor,Tiger Myrtle,Tiger Myrtle,gloss,NaN,sd3nrJOD-Pk,2025-08-03 23:51:56+00:00,youtube,4e2e8ac61083c99fb505e03bb7f3db6f
368,L2-BCPMR,L2,BCPMR,Baritone,Port Orford Cedar,Curly Myrtle,gloss,NaN,_B6sHsCgvTE,2025-08-04 00:00:38+00:00,youtube,449a8ab443ee7c51ea24ebec328590ec
373,L2-TCPMR,L2,TCPMR,Tenor,Port Orford Cedar,Tiger Myrtle,gloss,NaN,znyxkeAk-yQ,2025-08-04 01:39:55+00:00,youtube,e00c1560f6606dacb2f7c2558bb0d485
376,L2-CMR,L2,CMR,Concert,Curly Myrtle,Curly Myrtle,gloss,NaN,T6Qaw6nV-qc,2025-08-04 02:43:19+00:00,youtube,a0049a32b7bf5da3772385d65c7b5316

check that every model has a video

In [16]:
models_df['video_id'][pd.isna(models_df['video_id'])]

Series([], Name: video_id, dtype: object)

check that every model has a video provider

In [17]:
models_df['video_provider'][pd.isna(models_df['video_provider'])]

Series([], Name: video_provider, dtype: object)

In [18]:
models_df.columns = [name.replace('_', ' ').title() for name in models_df.columns]

In [19]:
models_df.to_csv('../app/data/models_list.csv', index=False)

## units

In [20]:
cols = ['oli_id', 'video_id', 'video_provider', 'video_type', 'video_published_at',
        'model_notes', 'notes', 'limited_edition', 'price','serial_number',
        'listing_title', 'listing_url', 'redirect_url']

my_oli_df = pd.read_csv(my_oli_path, usecols=cols, dtype=int_dtype )
log_df(my_oli_df)

(448, 13)

,model_notes,notes,limited_edition,price,serial_number,listing_title,listing_url,video_id,video_published_at,video_type,video_provider,oli_id,redirect_url
0,NaN,first 'Oli,NaN,<NA>,<NA>,NaN,NaN,1__pjKICYcA,2023-08-21T22:57:21Z,other,youtube,f8e2f0955694a60036f37491c15bcca4,NaN
1,NaN,NaN,NaN,<NA>,<NA>,NaN,NaN,mgGgRXIZY4Q,2023-08-21T23:00:36Z,song,youtube,NaN,NaN
2,NaN,NaN,NaN,<NA>,<NA>,NaN,NaN,Oj_48kO9R8w,2023-11-16T18:57:56Z,sound_sample,youtube,b896dea775786969dd6a0305484d3e8b,NaN
3,NaN,NaN,NaN,<NA>,<NA>,NaN,NaN,K1WS2LC0U2s,2023-11-16T19:12:58Z,sound_sample,youtube,6c3bbc40618711d4c968ccc0b716d915,NaN
4,NaN,NaN,NaN,<NA>,<NA>,NaN,NaN,sMBVxO3s9KU,2023-11-16T19:28:57Z,song,youtube,NaN,NaN

In [21]:
my_oli_df['video_published_at'] = pd.to_datetime(my_oli_df['video_published_at'])
my_oli_df = my_oli_df.sort_values(by=['video_published_at'], ascending=True)

log_df(my_oli_df)

(448, 13)

,model_notes,notes,limited_edition,price,serial_number,listing_title,listing_url,video_id,video_published_at,video_type,video_provider,oli_id,redirect_url
0,NaN,first 'Oli,NaN,<NA>,<NA>,NaN,NaN,1__pjKICYcA,2023-08-21 22:57:21+00:00,other,youtube,f8e2f0955694a60036f37491c15bcca4,NaN
1,NaN,NaN,NaN,<NA>,<NA>,NaN,NaN,mgGgRXIZY4Q,2023-08-21 23:00:36+00:00,song,youtube,NaN,NaN
2,NaN,NaN,NaN,<NA>,<NA>,NaN,NaN,Oj_48kO9R8w,2023-11-16 18:57:56+00:00,sound_sample,youtube,b896dea775786969dd6a0305484d3e8b,NaN
3,NaN,NaN,NaN,<NA>,<NA>,NaN,NaN,K1WS2LC0U2s,2023-11-16 19:12:58+00:00,sound_sample,youtube,6c3bbc40618711d4c968ccc0b716d915,NaN
4,NaN,NaN,NaN,<NA>,<NA>,NaN,NaN,sMBVxO3s9KU,2023-11-16 19:28:57+00:00,song,youtube,NaN,NaN

In [22]:
units_df = my_oli_df[my_oli_df['video_type'] == 'sound_sample']
units_df = units_df.drop('video_type', axis=1)

units_df = units_df.dropna(subset=['oli_id'])

log_df(units_df)

(399, 12)

,model_notes,notes,limited_edition,price,serial_number,listing_title,listing_url,video_id,video_published_at,video_provider,oli_id,redirect_url
2,NaN,NaN,NaN,<NA>,<NA>,NaN,NaN,Oj_48kO9R8w,2023-11-16 18:57:56+00:00,youtube,b896dea775786969dd6a0305484d3e8b,NaN
3,NaN,NaN,NaN,<NA>,<NA>,NaN,NaN,K1WS2LC0U2s,2023-11-16 19:12:58+00:00,youtube,6c3bbc40618711d4c968ccc0b716d915,NaN
5,NaN,NaN,NaN,<NA>,<NA>,NaN,NaN,OfYorkjhkCo,2023-11-16 20:48:05+00:00,youtube,6c3bbc40618711d4c968ccc0b716d915,NaN
6,NaN,NaN,NaN,<NA>,<NA>,NaN,NaN,ce7gyng9eYE,2023-11-17 19:14:10+00:00,youtube,b896dea775786969dd6a0305484d3e8b,NaN
7,NaN,NaN,NaN,895,810,NaN,https://theukulelesite.com/oli-mango-baritone-...,uBJy6pgpNIU,2024-01-30 08:53:06+00:00,youtube,db2298b147c5c1066be8c97bc196827b,https://theukulelesite.com/oli-mango-baritone-...

In [23]:
units_df.columns = [name.replace('_', ' ').title() for name in units_df.columns]

In [24]:
units_df.to_csv('../app/data/units_list.csv', index=False)