In [4]:
import pandas as pd

In [163]:
def log_df(df, limit=5):
    print(df.shape)
    return df.head(limit)

# integer columns that have null
int_dtype = {'playlist_position': 'Int64', 'price': 'Int64', 'serial_number':'Int64'}

In [32]:
playlist1_path = '../raw_data/oli_playlist.csv'
playlist2_path = '../raw_data/oli_playlist_2.csv'
missing_path = '../processed_data/missing_videos_fixed.csv'

my_oli_path = '../raw_data/Oli.csv'

## videos

In [33]:
playlist1_df = pd.read_csv(playlist1_path)
log_df(playlist1_df)

(350, 6)

,position,video_title,published_at,video_id,video_thumbnail,playlist_id
0,1,'Oli L1 MGBG Mango Baritone,2024-01-30T08:53:06Z,uBJy6pgpNIU,https://i.ytimg.com/vi/uBJy6pgpNIU/default.jpg,PLEQbDXy0ShuWQ4iKD4YVC1iOj3uKY1R-2
1,2,O.C. Bear Custom Lahaina Guitar & ‘Oli Cedar E...,2024-02-01T06:44:56Z,aFgun3_F1fQ,https://i.ytimg.com/vi/aFgun3_F1fQ/default.jpg,PLEQbDXy0ShuWQ4iKD4YVC1iOj3uKY1R-2
2,3,'Oli L2 TCE Cedar Macassar Ebony Tenor,2024-02-01T06:46:48Z,mSw_GV9LxOM,https://i.ytimg.com/vi/mSw_GV9LxOM/default.jpg,PLEQbDXy0ShuWQ4iKD4YVC1iOj3uKY1R-2
3,4,'Oli Cedar Macassar L2 Baritone,2024-02-28T22:39:41Z,uDCKmlLujrs,https://i.ytimg.com/vi/uDCKmlLujrs/default.jpg,PLEQbDXy0ShuWQ4iKD4YVC1iOj3uKY1R-2
4,5,'Oli Spruce Rosewood L2 Baritone,2024-02-28T22:44:55Z,TkO2YRW2vQE,https://i.ytimg.com/vi/TkO2YRW2vQE/default.jpg,PLEQbDXy0ShuWQ4iKD4YVC1iOj3uKY1R-2

In [34]:
playlist2_df = pd.read_csv(playlist2_path)
log_df(playlist2_df)

(7, 6)

,position,video_title,published_at,video_id,video_thumbnail,playlist_id
0,1,'Oli Mango Tenor Prototype,2023-08-21T22:57:21Z,1__pjKICYcA,https://i.ytimg.com/vi/1__pjKICYcA/default.jpg,PLEQbDXy0ShuW7JotVhROvR4TxhmO_0tLD
1,2,"""Hawai'i '78"" 'Oli Mango Tenor & Pono Master S...",2023-08-21T23:00:36Z,mgGgRXIZY4Q,https://i.ytimg.com/vi/mgGgRXIZY4Q/default.jpg,PLEQbDXy0ShuW7JotVhROvR4TxhmO_0tLD
2,3,'Oli Mango Concert L2 MGC,2023-11-16T18:57:56Z,Oj_48kO9R8w,https://i.ytimg.com/vi/Oj_48kO9R8w/default.jpg,PLEQbDXy0ShuW7JotVhROvR4TxhmO_0tLD
3,4,'Oli Mango Baritone L2 MGB,2023-11-16T19:12:58Z,K1WS2LC0U2s,https://i.ytimg.com/vi/K1WS2LC0U2s/default.jpg,PLEQbDXy0ShuW7JotVhROvR4TxhmO_0tLD
4,5,Danny's Song on 'Oli Mango Baritone & Tenor,2023-11-16T19:28:57Z,sMBVxO3s9KU,https://i.ytimg.com/vi/sMBVxO3s9KU/default.jpg,PLEQbDXy0ShuW7JotVhROvR4TxhmO_0tLD

In [36]:
missing_df = pd.read_csv(missing_path)
log_df(missing_df)

(13, 6)

,position,video_title,published_at,video_id,video_thumbnail,playlist_id
0,-9999,'Oli Mastergrade Koa Tenor 145,2024-04-04T20:53:23Z,BHOxKauk_zE,https://i.ytimg.com/vi/BHOxKauk_zE/default.jpg,NaN
1,-9999,'Oli L2 TSA Spruce Acacia Tenor,2024-08-06T23:05:27Z,Yk98tlUrQwM,https://i.ytimg.com/vi/Yk98tlUrQwM/default.jpg,NaN
2,-9999,'Oli L2-TCA v3 Cedar Acacia Tenor,2024-10-12T22:14:02Z,LvcZOHceJ-I,https://i.ytimg.com/vi/LvcZOHceJ-I/default.jpg,NaN
3,-9999,'Oli L1 TMGS 2025 Mango Tenor Satin,2025-01-29T22:37:14Z,dKotBrEFZgA,https://i.ytimg.com/vi/dKotBrEFZgA/default.jpg,NaN
4,-9999,'Oli L2-BCR 858,2025-02-08T18:43:34Z,rVt1EjNZg_k,https://i.ytimg.com/vi/rVt1EjNZg_k/default.jpg,NaN

In [37]:
combine_df = pd.concat([playlist1_df, playlist2_df, missing_df])
combine_df.shape

(370, 6)

In [38]:
len(combine_df['video_id'].unique())

370

In [39]:
combine_df.to_csv('../processed_data/videos_list.csv', index=False)

## models

In [172]:
cols = ['model', 'tier', 'type', 'size', 'top_wood', 'back_wood', 'finish', 'video_id', 'video_type', 'video_provider', 'oli_id' ]

my_oli_df = pd.read_csv(my_oli_path, usecols=cols)
log_df(my_oli_df)

(415, 11)

,model,tier,type,size,top_wood,back_wood,finish,video_id,video_type,video_provider,oli_id
0,L2-TMG,L2,TMG,Tenor,Mango,Mango,gloss,1__pjKICYcA,other,youtube,f8e2f0955694a60036f37491c15bcca4
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,mgGgRXIZY4Q,song,youtube,NaN
2,L2-CMG,L2,CMG,Concert,Mango,Mango,gloss,Oj_48kO9R8w,sound_sample,youtube,b896dea775786969dd6a0305484d3e8b
3,L2-BMG,L2,BMG,Baritone,Mango,Mango,gloss,K1WS2LC0U2s,sound_sample,youtube,6c3bbc40618711d4c968ccc0b716d915
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,sMBVxO3s9KU,song,youtube,NaN

In [173]:
my_oli_df['video_type'].unique()

array(['other', 'song', 'sound_sample', 'equipment', 'hidden',
       'factory_tour'], dtype=object)

In [174]:
models_df = my_oli_df[my_oli_df['video_type'] == 'sound_sample']
models_df = models_df.drop('video_type', axis=1)

models_df = models_df.dropna(subset=['model'])
models_df = models_df.drop_duplicates(subset=['oli_id'], keep='last')

log_df(models_df)

# 162, 10

(162, 10)

,model,tier,type,size,top_wood,back_wood,finish,video_id,video_provider,oli_id
33,L2-TSQM,L2,TSQM,Tenor,Spruce,Quilted Maple,gloss,ygsknEQj5NI,youtube,f8d9e63b0e42027dbf61c760d9df9e02
36,L2-TQM,L2,TQM,Tenor,Quilted Maple,Quilted Maple,gloss,HNenXmQh9Wg,youtube,1eb4f51132efa88ab133dd45e7b2f838
40,L2-TFM,L2,TFM,Tenor,Flame Maple,Flame Maple,gloss,wdNBvGFFY9w,youtube,bae3debb9cf0f837dbf7c266a1ddfc1d
69,L2-CSE,L2,CSE,Concert,Spruce,Macassar Ebony,gloss,-RtOCwJexIU,youtube,6605026230f583e66738ed318a486c3c
80,L2-CCA,L2,CCA,Concert,Cedar,Acacia,gloss,wl1SpoujiRM,youtube,c3503c5a8ca4fa19fc9f3ffaf49a30e3

both curly and normal redwood have same model name

In [175]:
models_df[models_df.duplicated(subset=['model'])]

,model,tier,type,size,top_wood,back_wood,finish,video_id,video_provider,oli_id
332,L2-CRR,L2,CRR,Concert,Curly Redwood,Rosewood,gloss,7fNk5YvFyy0,youtube,8b90515cee6190837dc3166df65ebad4
379,L3-TRML,L3,TRML,Tenor,Curly Redwood,Milo,gloss,6uik2UVNWAw,youtube,7092f00e29aed5716fa9a60691ce3b95
413,L3-CRML,L3,CRML,Concert,Curly Redwood,Milo,gloss,1090692649,vimeo,0cf30ef814fa4b9820ebc1dc50b615a8

check that every model has a video

In [176]:
models_df['video_id'][pd.isna(models_df['video_id'])]

Series([], Name: video_id, dtype: object)

check that every model has a video provider

In [177]:
models_df['video_provider'][pd.isna(models_df['video_provider'])]

Series([], Name: video_provider, dtype: object)

In [154]:
models_df.to_csv('../processed_data/models_list.csv', index=False)

## units

In [181]:
cols = ['oli_id', 'video_id', 
        'model_notes', 'notes', 'limited_edition', 'price','serial_number', 
        'listing_title', 'listing_url', 'redirect_url', 'video_type']

my_oli_df = pd.read_csv(my_oli_path, usecols=cols, dtype=int_dtype )
log_df(my_oli_df)

(415, 11)

,model_notes,notes,limited_edition,price,serial_number,listing_title,listing_url,video_id,video_type,redirect_url,oli_id
0,NaN,first 'Oli,NaN,<NA>,<NA>,NaN,NaN,1__pjKICYcA,other,NaN,f8e2f0955694a60036f37491c15bcca4
1,NaN,NaN,NaN,<NA>,<NA>,NaN,NaN,mgGgRXIZY4Q,song,NaN,NaN
2,NaN,NaN,NaN,<NA>,<NA>,NaN,NaN,Oj_48kO9R8w,sound_sample,NaN,b896dea775786969dd6a0305484d3e8b
3,NaN,NaN,NaN,<NA>,<NA>,NaN,NaN,K1WS2LC0U2s,sound_sample,NaN,6c3bbc40618711d4c968ccc0b716d915
4,NaN,NaN,NaN,<NA>,<NA>,NaN,NaN,sMBVxO3s9KU,song,NaN,NaN

In [182]:
units_df = my_oli_df[my_oli_df['video_type'] == 'sound_sample']
units_df = units_df.drop('video_type', axis=1)

units_df = units_df.dropna(subset=['oli_id'])

log_df(units_df)

(372, 10)

,model_notes,notes,limited_edition,price,serial_number,listing_title,listing_url,video_id,redirect_url,oli_id
2,NaN,NaN,NaN,<NA>,<NA>,NaN,NaN,Oj_48kO9R8w,NaN,b896dea775786969dd6a0305484d3e8b
3,NaN,NaN,NaN,<NA>,<NA>,NaN,NaN,K1WS2LC0U2s,NaN,6c3bbc40618711d4c968ccc0b716d915
5,NaN,NaN,NaN,<NA>,<NA>,NaN,NaN,OfYorkjhkCo,NaN,6c3bbc40618711d4c968ccc0b716d915
6,NaN,NaN,NaN,<NA>,<NA>,NaN,NaN,ce7gyng9eYE,NaN,b896dea775786969dd6a0305484d3e8b
7,NaN,NaN,NaN,895,810,NaN,https://theukulelesite.com/oli-mango-baritone-...,uBJy6pgpNIU,https://theukulelesite.com/oli-mango-baritone-...,db2298b147c5c1066be8c97bc196827b

In [183]:
units_df.to_csv('../processed_data/units_list.csv', index=False)