In [2]:
import pandas as pd

In [5]:
def log_df(df, limit=5):
    print(df.shape)
    return df.head(limit)

## fix title on 'Oli.csv so it uses the full video title

In [65]:
my_oli_df = pd.read_csv('../raw_data/Oli.csv', usecols=['id', 'my id', 'name'])
log_df(my_oli_df)

(350, 3)

    id  my id                               name
0  1.0      1             L1 MGBG Mango Baritone
1  3.0      2  L2 TCE Cedar Macassar Ebony Tenor
2  4.0      3         Cedar Macassar L2 Baritone
3  5.0      4        Spruce Rosewood L2 Baritone
4  6.0      5            L1 Mango Baritone Satin

In [74]:
oli_yt_df = pd.read_csv('../raw_data/oli_playlist.csv', usecols=['position', 'video_title', 'video_id'])
log_df(oli_yt_df)

(347, 3)

   position                                        video_title     video_id
0         1                        'Oli L1 MGBG Mango Baritone  uBJy6pgpNIU
1         2  O.C. Bear Custom Lahaina Guitar & ‘Oli Cedar E...  aFgun3_F1fQ
2         3             'Oli L2 TCE Cedar Macassar Ebony Tenor  mSw_GV9LxOM
3         4                    'Oli Cedar Macassar L2 Baritone  uDCKmlLujrs
4         5                   'Oli Spruce Rosewood L2 Baritone  TkO2YRW2vQE

In [75]:
oli_yt_df['temp_title'] = oli_yt_df['video_title'].replace({"^'Oli ": ""}, regex=True)

oli_yt_df.head()

,position,video_title,video_id,temp_title
0,1,'Oli L1 MGBG Mango Baritone,uBJy6pgpNIU,L1 MGBG Mango Baritone
1,2,O.C. Bear Custom Lahaina Guitar & ‘Oli Cedar E...,aFgun3_F1fQ,O.C. Bear Custom Lahaina Guitar & ‘Oli Cedar E...
2,3,'Oli L2 TCE Cedar Macassar Ebony Tenor,mSw_GV9LxOM,L2 TCE Cedar Macassar Ebony Tenor
3,4,'Oli Cedar Macassar L2 Baritone,uDCKmlLujrs,Cedar Macassar L2 Baritone
4,5,'Oli Spruce Rosewood L2 Baritone,TkO2YRW2vQE,Spruce Rosewood L2 Baritone

In [79]:
merge_df = my_oli_df.merge(oli_yt_df, how = 'outer', left_on='name', right_on='temp_title')
merge_df.head()

,id,my id,name,position,video_title,video_id,temp_title
0,NaN,NaN,NaN,140.0,'Oli L2-BCW Cedar Walnut Baritone,HXjNOfoqUzE,L2-BCW Cedar Walnut Baritone
1,NaN,NaN,NaN,125.0,"""All of Me"" 'Oli Cedar Ebony Baritone & Singer...",6Ao64QPpWEs,"""All of Me"" 'Oli Cedar Ebony Baritone & Singer..."
2,NaN,NaN,NaN,50.0,"""Don't Know Why"" 'Oli Koa tenor & Cedar Rosewo...",_wtkoF2esE0,"""Don't Know Why"" 'Oli Koa tenor & Cedar Rosewo..."
3,NaN,NaN,NaN,243.0,"""In My Life"" 'Oli L3-TCE L3-TSR L2-GSR",r7zRtjvEwxM,"""In My Life"" 'Oli L3-TCE L3-TSR L2-GSR"
4,NaN,NaN,NaN,271.0,"""Oli L2-TCPMR Port Orford Cedar Myrtle Tenor 1194",oiHEZKaN8ik,"""Oli L2-TCPMR Port Orford Cedar Myrtle Tenor 1194"

In [80]:
merge_df[merge_df['video_id'].isna()].shape

(51, 7)

In [81]:
merge_df.to_csv('../processed_data/draft/oli_fix_title.csv', index=False)